{% extends 'base.html.twig' %}
{% block body %}
    <h1>Create d'un article</h1>

    {{ form_start(formArticle) }}



    {{ form_row(formArticle.content) }}



    <button type="submit" class="btn btn-success">Ajouter l'article</button>

    {{ form_end(formArticle) }}
{% endblock %}
