{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div class="metadata">{{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i ') }}</div>
    <img src="article.image">

   <p>{{ article.content }}</p>

{% endblock %}
