{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div class="metadata">Creer le patati </div>
    <img src="http://placehold.it/350x150">

   <p>lkzehnrvlhgrzabgjkzrhbjgvbrzahjn azrgfzaihfaziue iauegiua zzmz gjzmkaz mrgmje m om  ùlzmjrzlg az r oa a  rvlhgrzabgjkzrhbjgvbrzahjn azrgfzaihfaziue iauegiua zzmz gjzmkaz mrgmje m om  ùlzmjrzlg az r oa a  rvlhgrzabgjkzrhbjgvbrzahjn azrgfzaihfaziue iauegiua zzmz gjzmkaz mrgmje m om  ùlzmjrzlg az r oa a</p>
    <a href=""
{% endblock %}
