{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.title }}</h1>
    <div class="metadata">Creer le patati </div>
    <img src="article.image">

   <p>{{ article.content }}</p>

{% endblock %}
