{% extends 'base.html.twig' %}


{% block body %}


    {% if app.user %}
{% for user in users %}
<h1>Bonjour {{ user.username }}</h1>
{% endfor %}


    {% for staff in staffs %}
        <div class="card" style="width: 18rem;">
            <img src="http://via.placeholder.com/240x160">
            <div class="card-body">
                <h5 class="card-title">{{ staff.imgHead }}</h5>
                <p class="card-text">{{ staff.lastName }}</p>
                <p class="card-text">{{ staff.poste }}</p>

            </div>
        </div>
    {% endfor %}
    {% endif %}






{% endblock %}
